In [1]:
import pandas as pd
import lib.tritime as tt

badges = tt.get_badges()

In [2]:
bcol, dcol, tin, tout, tdiff = [], [], [], [], []
for badge_num, badge in badges.items():
    dn = badge['display_name']
    punch_data = tt.read_punches(badge_num)
    for p in punch_data:
        if 'ts_in' not in p or 'ts_out' not in p:
            continue  # And flag as an error?
        bcol.append(badge_num)
        dcol.append(dn)
        tin.append(p['ts_in'])
        tout.append(p['ts_out'])
        tdiff.append(p['duration'])

tdf = pd.DataFrame({'badge': bcol, 'display_name': dcol,
                   'time_in': tin, 'time_out': tout, 'duration': tdiff})

tdf['time_in'] = pd.to_datetime(tdf['time_in'])
tdf['week_number'] = tdf['time_in'].dt.isocalendar().week
tdf.to_csv('test.csv', index=False)

In [6]:
wdf = (
    tdf.drop(['display_name', 'time_in', 'time_out'], axis=1)
       .groupby(['badge', 'week_number'])
       .sum()
).reset_index()
wdf

    badge  week_number  duration
0     895           36   53502.0
1    9013           37  158704.0
2    chad           35     309.0
3    chad           36  558335.0
4   david           35  513453.0
5  elijah           36  489956.0
6  justin           35  514704.0
7  justin           36  636985.0
8  justin           37     515.0